/*-------- Color ----------*/
/* Grays 灰度色*/
/* Accent colors 彩色 */
/* Font 文字大小 */
/* Font 样式 */
/* Font 字体 */
/* Link 链接 */
a {
  color: #6d6d6d;
  text-decoration: none;
  outline: none;
}
a:link {
  color: #6d6d6d;
}
a:visited {
  color: #6d6d6d;
}
a:hover {
  /*color:#fff;*/

  text-decoration: underline;
}
a:active {
  color: #fff;
}
a {
  color: #6d6d6d;
}
a:link {
  color: #6d6d6d;
}
a:visited {
  color: #6d6d6d;
}
a:active {
  color: #fff;
}
a:hover {
  color: #ff0000;
}
div {
  padding: 5;
}
